<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fancychuan.onemany.mapper.ClassesMapper"> <!-- 每个mapper需要指定命名空间，TODO：为什么 -->
    <select id="selectClassById" parameterType="int" resultMap="classmap">
        SELECT * FROM tb_class c, tb_head_teacher t WHERE c.c_ht_id=t.ht_id AND c.c_id=#{id}
    </select>
    <resultMap id="classmap" type="Classes">
        <id property="id" column="c_id" />
        <result property="name" column="c_name" />
        <!-- 一对一关系映射 -->
        <association property="teacher" javaType="HeadTeacher" resultMap="teachermap" />
    </resultMap>
    <resultMap id="teachermap" type="HeadTeacher">
        <id property="id" column="ht_id" />
        <result property="name" column="ht_name" />
        <result property="age" column="ht_age" />
    </resultMap>


    <select id="selectClassAndStudentsById" resultMap="csmap" >
        SELECT * FROM tb_class c LEFT OUTER JOIN tb_student s on c.c_id=s.s_c_id WHERE c.c_id=#{id}
    </select>
    <resultMap id="csmap" type="Classes">
        <id property="id" column="c_id" />
        <result property="name" column="c_name" />
        <!-- 一对多关系映射： collection -->
        <collection property="students" ofType="Student">
            <id property="id" column="s_id" />
            <result property="name" column="s_name" />
            <result property="sex" column="s_sex" />
            <result property="age" column="s_age" />
        </collection>
    </resultMap>
</mapper>