<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="helloBean" class="cn.fancychuan.spring.helloworld.HelloWorld">
        <property name="name" value="小川~"/>
        <property name="age" value="12"/>
    </bean>

    <!--bean作用域: 不指定scope情况下默认为 singleton-->
    <bean id="services-singleton" class="cn.fancychuan.spring.services.CustomerService"/>

    <bean id="services-prototype" class="cn.fancychuan.spring.services.CustomerService" scope="prototype"/>
</beans>